<div class="card-deck mb-3">
  {{#each @cards as |card|}}
    <div class="card mb-4 text-center">
      <img src="https://marvelcdb.com/{{card.imagesrc}}" alt={{card.name}} />
      <p><button type="button" class="btn btn-secondary" {{on "click" (fn @action card)}}>Select</button></p>
    </div>
  {{/each}}
</div>
