<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <td>Name</td>
        <td>Quantity</td>
        <td>Type</td>
        <td>Cost</td>
      </tr>
    </thead>
    <tbody>
      {{#each this.cardQuantities as |cardQuantity|}}
      <tr>
        <td>{{cardQuantity.card.name}}</td>
        <td>{{cardQuantity.quantity}}</td>
        <td>{{cardQuantity.card.type_code}}</td>
        <td>{{cardQuantity.card.cost}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
