<div class="text-center">
  <h1 class="display-4">Drafting for {{this.model.hero.name}}</h1>
</div>

<DraftAspect @hero={{this.model.hero}} @cards={{this.model.cards}} />

<div class="container">
  <h2>Instructions</h2>
  <p>Pick an aspect. This card choice will lock your aspect in.</p>
</div>
