<div class="text-center">
  <h1>Marvel Champions Draft</h1>
  <h2 class="display-4">{{this.model.hero.name}} ({{this.faction}})</h2>
</div>

<div class="container">
  <Deck @cards={{this.selectedCardObjects}} />
</div>
