{{page-title "Home"}}

<div class="container">
  <h1 class="text-center">Marvel Champions Draft</h1>

  <HeroPicker @cards={{this.model}} />
</div>

<div class="container">
  <h2>Instructions</h2>
  <p>Pick a hero to start the drafting process of 25 cards for a 40 card deck. Right now Spider-Woman and Gamora aren't included since they have special deck building rules.</p>
  <p>When picking the "Draft" option, you'll able to draft a hero.</p>
</div>
